{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Nome de usuário</label>
        <input type="text" name="username" id="username" required>
        <label for="passw">Senha</label>
        <input type="password" name="passw" id="passw" required>
        <input type="submit" value="Log In">
    </form>
{% endblock %}