{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Notas do capítulo {{ notas_capitulo[0]['cap_titulo'] }}{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('notas.notas_capitulo_criar', id=notas_capitulo[0]['idCapitulo']) }}">Adicionar anotação</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for nota in notas_capitulo %}
        <article class="livro">
            <header>
                <div>
                    <h1>Sobre a página {{ nota['not_pagina'] }}</b></h1>
                    <div class="body">
                        <b>Anotação:</b><br/>
                        {{ nota['nota'] }}
                    </div>
                </div>
                {% if g.user['id'] == nota['idUsuario'] %}
                    <a class="action" href="{{ url_for('notas.notas_capitulo_alterar', id=nota['id'], idCapitulo=nota['idcapitulo']) }}">Alterar nota</a>
                {% endif %}
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <p class="body"><a href="{{ url_for('biblioteca.index') }}">Lista de livros</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="{{url_for('capitulos.capitulos_livro', id=notas_capitulo[0]['idLivro']) }}">Lista de capítulos</a></p>

{% endblock %}

