{% extends 'base.html' %}

{% block header %}
    <h1>Não encontrei nenhuma nota do capítulo informado</h1>
    {% if g.user %}
        <a class="action" href="{{url_for('notas.notas_capitulo_criar', id=id)}}">Adicionar anotação</a>
    {% endif %}
{% endblock %}

{% block content %}
    <p>Cadastre um nota do capítulo ao menos</p>
{% endblock %}
"{{ url_for('notas.notas_capitulo_criar', id=id) }}"