{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Links registrados{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('link.link_criar') }}">Adicionar links</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for link in links %}
        <article class="livro">
            <header>
                <div>
                    <h1>Sobre a página <a href="{{ link['link'] }}">{{ link['link'] | truncate(30) }}</a> acessada dia <em>{{link['data_acesso']}}</em></h1>
                    <div class="body">
                        <b>Anotação:</b><br/>
                        <textarea cols="80" readonly>{{ link['anotacao'] }}</textarea>
                    </div>
                </div>
                {% if g.user['id'] == link['idUsuario'] %}
                    <a class="action" href="{{ url_for('link.link_alterar', id=link['id']) }}">Alterar nota</a>
                {% endif %}
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <p class="body"><a href="{{ url_for('biblioteca.index') }}">Lista de livros</a></p>

{% endblock %}