{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Nova nota do capítulo{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="l">A anotação será sobre qual página/site?</label>
        <input type="text" name="l" id="l" required>
        <label for="anotacao">Anotação</label>
        <textarea name="nota" id="nota" required></textarea>
        <input type="submit" value="Salvar">
    </form>
{% endblock %}