{% extends 'base.html' %}

{% block header %}
    <h1>Não encontrei nenhum link registrado</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('link.link_criar') }}">Adicionar link</a>
    {% endif %}
{% endblock %}

{% block content %}
    <p>Cadastre um link ao menos</p>
{% endblock %}