{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Novo Capítulo do livro{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="pagina">O capítulo inicia na página</label>
        <input type="number" name="pagina" id="pagina" required>
        <label for="captitulo">Título do capítulo</label>
        <input type="text" name="captitulo" id="captitulo" required>
        <input type="submit" value="Salvar">
    </form>
{% endblock %}