{% extends 'base.html' %}
{% block header %}
    <h1>Not Logged</h1>
{% endblock %}
{% block content %}
    <h5>Você não está logado, então veja alguns de nossos livros:</h5>
    {% if livros != [] %}
        {% for livro in livros %}
        <article class="livro">
            <header>
                <div>
                    <h1>{{ livro['titulo'] }}</h1>
                    <div class="about">de {{ livro['username'] }} escrito por {{ livro['autores'] }} na {{ livro['edicao'] }} edi&ccedil;&atilde;o lan&ccedil;ado pela editora {{ livro['editora'] }}</div>
                </div>
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
        {% endfor %}
    {% else %}
        <article>
            <p>Infelizmente não temos nenhum livro para te mostrar</p>
        </article>
    {% endif %}
{% endblock %}